.main-chat
  .main-chat__group-info
    .main-chat__group-info__group-side
      .main-chat__group-info__group-side__group-name
        = @group.name
      .main-chat__group-info__group-side__group-member
        Member：
        - @group.users.each do |user|
          = user.name
    .main-chat__group-info__edit-side
      .main-chat__group-info__edit-side__edit-frame
        = link_to edit_group_path(@group), class: "main-chat__group-info__edit-side__edit-frame__edit-btn" do
          Edit
  .main-chat__message-list
    = render @messages


  .main-chat__message-form
    = form_with model: [@group, @message], html: {class: "main-chat__message-form__form"}, local: true do |f|
      .main-chat__message-form__form__form-contents
        = f.text_field :content, class: 'main-chat__message-form__form__form-contents__input-text', placeholder: 'type a message'
        = f.label :image, class: 'main-chat__message-form__form__form-contents__image' do
          = icon('fas', 'image', class: 'main-chat__message-form__form__form-contents__image__icon')
          = f.file_field :image, class: 'main-chat__message-form__form__form-contents__image__hidden'
      = f.submit 'Send', class: 'main-chat__message-form__form__submit'