.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name-box
        = current_user.name
      .side-bar__user-name__top-items__icon
        = link_to new_group_path, class: "side-bar__user-name__top-items__icon__btn" do
          = icon('far', 'edit',  class: "side-bar__user-name__top-items__icon__btn--icon1")
        = link_to edit_user_path(current_user), class: "side-bar__user-name__top-items__icon__btn" do
          = icon('fa', 'cog',  class: "side-bar__user-name__top-items__icon__btn--icon2")
  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__group-box
        = link_to '#' do
          .side-bar__group-list__group-box__group-name
            = group.name
          .side-bar__group-list__group-box__message-list
            メッセージはまだありません
